<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Retrieve from JSON</title>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">

        $(document).ready(function () {
            $.ajax({
                dataType: "json",
                url: "/api/retrival",
                data: "",
                success: function (data) {
                    // Data needs a new field: file_link
                    for(var i = 0; i < data.length; i ++){
                        record = data[i];
                        record.file_link = "/api/serve/?hlc="+record.hlc_cat+"&file_name="+record.doc_name;
                    }

                    jsondata = data;
                    $('#table').bootstrapTable({
                        //Assigning data to table
                        data: jsondata
                    });
                }
            });
        });
        function LinkFormatter(value, row, index) {
            return "<a href='"+value+"'>"+"Click Here to Download"+"</a>";
        }
    </script>
</head>
<body>
<center>
    <strong>Filter by Category</strong>
    <select id="hlc" onchange="filterByHLC()">
        <option value="" selected="selected"></option>
        <option value="cr1">cr1</option>
        <option value="cr2">cr2</option>
        <option value="cr3">cr3</option>
        <option value="cr4">cr4</option>
        <option value="cr5">cr5</option>
    </select>
    <strong>Filter by Department</strong>
    <select id="dept" onchange="filterByHLC()">
        <option value="" selected="selected"></option>
        <option value="CS">Computer Science</option>
        <option value="EE">Electrical Engineering</option>
        <option value="COMM">Communication Engineering</option>
        <option value="NW">Networking</option>
    </select>

    <strong>Filter by Year</strong>
    <select id="year" onchange="filterByHLC()">
        <option value="" selected="selected"></option>
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
    </select>
<form id="form1">
    <table id="table">
        <thead>
        <tr>
            <th data-field="id">ID</th>
            <th data-field="doc_id">Doc ID</th>
            <th data-field="doc_dept">Department Name</th>
            <th data-field="doc_year">Year</th>
            <th data-field="doc_name">Document Name</th>
            <th data-field="hlc_cat">HLC Category</th>
            <th data-field="hlc_cmpt">Complete HLC</th>
            <th data-field="justification">Justification</th>
            <th data-field="submitter">Submitter</th>
            <th data-field="upload_time">Time Stamp</th>
            <th data-field="file_link" data-formatter="LinkFormatter">Download File</th>

        </tr>
        </thead>
    </table>
</form>
</center>
</body>
<script>
    function filterByHLC() {
        var filterYear, deptname,hlccategory,filter,filter1,table,tr,td;
        hlccategory = document.getElementById("hlc");
        filter = hlccategory.value.toLowerCase();
        deptname = document.getElementById("dept");
        filter1 = deptname.value.toUpperCase();

        filterYear = document.getElementById("year").value;
        table = document.getElementById("table");
        tr = table.getElementsByTagName("tr");
        td = table.getElementsByTagName("td");

        for (i = 1; i < tr.length; i++) {

            dept_row = tr[i].getElementsByTagName("td")[2];
            year_row = tr[i].getElementsByTagName("td")[3];
            hlc_row = tr[i].getElementsByTagName("td")[5];

            if (dept_row && year_row && hlc_row ) {
                if (dept_row.innerHTML.indexOf(filter1) > -1 &&  
                    hlc_row.innerHTML.indexOf(filter) > -1 && 
                    year_row.innerHTML.indexOf(filterYear) > -1)  {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>
</html>
