{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UMKC Hackathon</title>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.css">
    <link rel="stylesheet" href="{% static 'aaw/style/index.css' %}">
</head>

<body ng-app="indexApp" ng-cloak="">
    {% verbatim %}
    <md-toolbar class="md-toolbar-tools" id = "toolbar">
        Argument Assurance Writer
    </md-toolbar>

    <md-content ng-controller="indexController as ic" class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="33" layout="column">
            <md-card>
                <md-card-title>
                    <md-content class="md-padding" 
                        md-colors="{background: 'amber'}"
                        md-ink-ripple flex>
                        <md-card-title-text>
                        <span class="md-headline md-primary">Document Upload</span>
                        </md-card-title-text>
                    </md-content>
                </md-card-title>
                <md-card-content>
                    <p>Click the button below to go to Document Upload</p>  
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button href="upload/"class="md-raised md-primary">Document Upload</md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="33" layout="column">
            <md-card>
                <md-card-title>
                    <md-content class="md-padding" 
                        md-colors="{background: 'amber'}"
                        md-ink-ripple flex>
                        <md-card-title-text>
                        <span class="md-headline md-primary">Document Retrival</span>
                        </md-card-title-text>
                    </md-content>
                </md-card-title>
                <md-card-content>
                    <p>Click the button below to go to document retrival</p>  
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button href="retrival/"class="md-raised md-primary">Document Retrival</md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="33" layout="column">
            <md-card>
                <md-card-title>
                    <md-content class="md-padding" 
                        md-colors="{background: 'amber'}"
                        md-ink-ripple flex>
                        <md-card-title-text>
                        <span class="md-headline md-primary">Taxonomy & Stats</span>
                        </md-card-title-text>
                    </md-content>
                </md-card-title>
                <md-card-content>
                    <p>Click the button below to go to taxonomy & stats</p>  
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button href="taxonomy/"class="md-raised md-primary">Taxonomy & Sats</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
    {% endverbatim %}

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-aria.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-messages.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.js"></script>
    <script type="text/javascript" src="{% static 'aaw/js/index.js' %}"></script>
</body>

</html>