{% load static %}
<!DOCTYPE HTML>
<head>
  <title>PITCH Dashboard</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">
  <base href="/">

  <!-- Static assets -->
  <link rel="stylesheet" type="text/css" href="{% static 'aaw/bower_components/angular-material/angular-material.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'aaw/css/index.css' %}" />

  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.js"></script>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
  
</head>

<body ng-app="aaw" layout="column">
  <section layout = "row" flex> 
    <md-sidenav
        class="md-sidenav-left md-whiteframe-6dp"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-xs')"
        md-whiteframe="4">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Evidence</h1>
      </md-toolbar>

      <md-content ng-controller="sideNavController as snc" class="click-able">
        <md-divider></md-divider>
        <md-content ng-click="snc.navigate(0,'/aaw/')"
          md-colors="snc.selected[0] ? {background: 'orange-800'} : {background: 'default'}">
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">
                <ng-md-icon class="side-nav-icon" icon="file_upload"></ng-md-icon>
                </div>
                <div class="inset">Upload New File</div>
            </md-item-content>
        </md-content>
        <md-divider></md-divider>
        <md-content ng-click="snc.navigate(1,'/aaw/taxonomy')"
          md-colors="snc.selected[1] ? {background: 'orange-800'} : {background: 'default'}">
          <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon class="side-nav-icon" icon="dashboard"></ng-md-icon>
            </div>
            <div class="inset">Taxonomy</div>
          </md-item-content>
        </md-content>
        <md-divider></md-divider>
        <md-content ng-click="snc.navigate(2,'/aaw/retrival/')"
          md-colors="snc.selected[2] ? {background: 'orange-800'} : {background: 'default'}">
          <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon class="side-nav-icon" icon="view_list"></ng-md-icon>
            </div>
            <div class="inset">Retrival</div>
          </md-item-content>
        </md-content>
        <md-divider></md-divider>

      </md-content>

    </md-sidenav>

    <div layout="column" flex>
        <div class="{{ pageClass }}" ng-view></div>
    </div>
  </section>
  <!--JS files -->

  <script src="{% static 'aaw/bower_components/angular/angular.min.js' %}"></script>
  <script src="{% static 'aaw/bower_components/angular-route/angular-route.min.js' %}"></script>
  <script src="{% static 'aaw/bower_components/angular-animate/angular-animate.min.js' %}"></script>
  <script src="{% static 'aaw/bower_components/angular-aria/angular-aria.min.js' %}"></script>
  <script src="{% static 'aaw/bower_components/angular-messages/angular-messages.min.js' %}"></script>
  <script src="{% static 'aaw/bower_components/angular-material/angular-material.min.js' %}"></script>
  <script src="{% static 'aaw/bower_components/angular-material-icons/angular-material-icons.min.js' %}"></script>

  <script>
    function LinkFormatter(value, row, index) {
        return "<a target=_blank  href='"+value+"'>"+"Click Here to Download"+"</a>";
    }
  </script>

  <script src="{% static 'aaw/js/app.js' %}"></script>
  <script src="{% static 'aaw/js/controllers/sidenav.js' %}"></script>
  <script src="{% static 'aaw/js/controllers/upload.js' %}"></script>
  <script src="{% static 'aaw/js/controllers/taxonomy.js' %}"></script>
  <script src="{% static 'aaw/js/controllers/retrival.js' %}"></script>
  

</body>
</html>